.header {
    height: 50px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-container {
    display: flex;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 10px;
}